<% if @matches.empty? %>
  <h4>
    You're the first member of this group. Invite others to check out your matches.
  </h4>
<% end %>
<% @matches.each do |p|%>
  <div class="person" style=" background-image: url(<%= p[:picture] %>)" fblink="<%= p[:url] %>">
    <h4 class="name">
      <%= p[:name] %>
    </h4>
    <div class="person-info" primary="<%= p[:intro] %>" secondary="moredata">
      <span><%= p[:intro] %></span>
      <span><%= p[:mutual_likes].nil? ? 0 : p[:mutual_likes].count.to_s + ' Mutual Likes' %></span>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $('.person').click(function() {
    var $self = $(this);
    window.location = $self.attr('fblink');
  });

  var iterator = null;
  var iteratorIndex = 0;

  <% if p && p[:mutual_likes].nil? %>
    var hoverOver = function() {
      var self = $(this);
      iterator = setInterval(function() {
        var max = self.find('.person-info span').length - 1;

        if((iteratorIndex % 2 ) === 1) {

          self.find('.person-info span:last').fadeOut(250, function() {
            self.find('.person-info span:first').fadeIn(250);
          });
        } else {
          self.find('.person-info span:first').fadeOut(250, function() {
            self.find('.person-info span:last').fadeIn(250);
          });
        }

        iteratorIndex++;
      }, 1400);
    }

    var hoverAway = function() {
      clearInterval(iterator);
      iterator = null;
    }

    $('.person').hover(hoverOver, hoverAway);
  <% end %>

</script>