<% if @matches.empty? %>
  <h4>Looks like your the first to this page.</h4>
<% end %>
<% @matches.each do |p|%>
  <div class="person" style=" background-image: url(<%= p[:picture] %>)" fblink="<%= p[:url] %>">
    <h4 class="name">
      <%= p[:name] %>
    </h4>
    <div class="person-info" primary="<%= p[:intro] %>" secondary="moredata">
      <span><%= p[:intro] %></span>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $('.person').click(function() {
    var $self = $(this);
    window.location = $self.attr('fblink');
  })

    $('.person').hover(function() {
        var $self = $(this);
        var t = setTimeout(function() {
          $self.find('span').fadeout(200,$(this).html($self.find('.person-info').attr('secondary').fadein(200))
        }, 2000);
      }, {
        $(this).html($self.find('.person-info').attr('primary'))
      }
    }

  })
</script>